@media only screen and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;

    }

    a {
        text-decoration: none;
    }

    ul li {
        list-style-type: none;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
    }


    /* =-=-=-=-=-=-=-=-=-=-=-===-=-=====-=-==-==-=-=--=-=-=-=-=---=-avtar-works-starts=-=-=--=-=-=-=-=-==-=-=-=-===-=-=-=-=-===-=-=== */
    .avtar {
        width: 30vw;
    }

    .avtar-inner {
        width: calc(90% - 1px);
        height: 98vh;
        border-radius: 30px;
        border: 1px solid #8750f7;
    }



    .avtar-inner .avtar-title {
        width: 90%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
    }

    .avtar-title .title-svg {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    .avtar-title .title-svg img {
        width: 65px;
        height: 65px;
    }

    .avtar-title .title {
        width: 50%;
        height: 100%;
        align-items: start;
        justify-content: flex-start;
        font-size: 15px;
    }

    .avtar-inner .avtar-img {
        width: 100%;
        align-items: center;
    }

    .avtar-inner .avtar-img img {
        width: 80%;
        height: 90%;
        border-radius: 30%;
    }



    .avtar-inner .avtar-special h6 {
        width: 100%;
    }

    .avtar-inner .avtar-city h6 {
        width: 100%;

    }

    .avtar-inner .avtar-social {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .avtar-inner .avtar-social .social-links {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .avtar-inner .avtar-social .social-links li a {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        font-size: 22px;
    }

    .avtar-btn .btn-caption {
        width: 94%;
        height: 70%;
        border-radius: 30%;
        font-size: 16px;
    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .container .avtar-menu-respons {
        width: 100%;
        height: 100px;
        z-index: 10;
        position: fixed;
        top: 90%;

    }

    .avtar-menu-respons .menu-respons-item {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    .avtar-menu-respons .menu-respons-item li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }






    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr {
        width: 70vw;
        height: 100%;
        position: relative;

    }


    .avtar-desr .avtar-desr-inner {
        width: 100%;
        height: 100%;
        overflow-y: scroll;


    }

    .avtar-desr-inner::-webkit-scrollbar {
        overflow: hidden;
        display: none;

    }

    .avtar-desr .avtar-desr-inner .desr-navbar {
        width: 100%;
        height: 70px;
        justify-content: space-between;

    }

    .avtar-desr-inner .desr-navbar .menubar {
        width: 60%;
    }


    .avtar-desr-inner .desr-navbar .menubar .menubar-item i {
        display: block;
    }

    .avtar-desr-inner .desr-navbar .menubar .menubar-item a {
        display: none;
    }

    .desr-navbar .nav-btn {
        width: 30%;
        justify-content: space-evenly;

    }

    .desr-navbar .nav-btn .btn-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .desr-navbar .nav-btn :nth-child(1) {
        width: 50px;
        border: none !important;
    }

    .desr-navbar .nav-btn .btn-item a {
        width: 70%;
        height: 60%;
        border-radius: 30px;
        letter-spacing: 2px;
    }

    /* =-=--=-=-=-=-=-=-=-=-=desr-home=-=-start=-=-=--=-=-=-=-=-=-=-------------------------==================================== */

    .avtar-desr-inner .avtar-desr-home-intro {
        width: 100%;
        height: 650px;
    }

    .avtar-desr-inner .avtar-desr-home-intro .home-intro-inner {
        width: 100%;
        height: 320px;
        justify-content: space-around;

    }

    .avtar-desr-home-intro .home-intro-inner .home-intro-svg-title {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
    }

    .home-intro-inner .home-intro-svg-title img {
        width: 15px;
        height: 15px;
    }

    .home-intro-inner .home-intro-heading {
        width: 100%;
        height: 200px;
        font-size: 24px;

    }

    .home-intro-inner .home-intro-btn {
        width: 100%;
        height: 50px;
        justify-content: space-evenly;

    }

    .home-intro-inner .home-intro-btn h4 {
        width: 180px;
        height: 100%;
        font-size: 18px;
    }

    .home-intro-inner .home-intro-btn .animate {
        width: 200px;
        height: 268px;
        position: absolute;
        top: 85%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* =-=--=-=-=-=-=-=-=-=-=desr-home=-=-end=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    /* =-=--=-=-=-=-=-=-=-=-=desr-portfolio=start=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    .avtar-desr-inner .avtar-desr-portfolio {
        width: 100%;
        height: 1550px;
    }

    .avtar-desr-inner .avtar-desr-portfolio .portfolio-inner {
        width: 100%;
        height: 1400px;
    }

    .portfolio-inner .portfolio-title {
        width: 100%;
        height: 150px;
        position: relative;

    }

    .portfolio-title h2 {


        font-size: 8.2em;

    }

    .portfolio-title span {
        width: 50%;
        height: 50%;

        font-size: 4.2em;

    }

    .portfolio-inner .portfolio-heading {
        width: 100%;
        height: 100px;
        font-size: 24px;
        align-items: flex-end;
    }

    .portfolio-inner .portfolio-gallery {
        align-items: center;
    }

    .portfolio-inner .portfolio-gallery .portfolio-gallery-inner {
        width: 95%;
        height: 95%;

    }

    /* =-=-=-=-=-=-=-=-==-=-=-=-=portfolio end==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=-=-=-=-=-=-=-==-=-=-=desr-=about-start==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */



    .about {
        width: 75vw;
        height: 2000px;
        display: flex;
        align-items: end;
    }

    .about-inner {
        width: 100%;
        height: 90%;
    }

    .about-inner .about-heading {
        width: 100%;
        height: 150px;
        position: relative;

    }

    .about-heading h2 {


        font-size: 8.2em;

    }

    .about-heading span {
        width: 50%;
        height: 50%;

        font-size: 4.2em;

    }

    .about-inner .about-desr {
        width: 100%;
        height: 150px;
    }

    .about-inner .about-desr h3 {
        width: 60%;
        height: 60px;
        font-size: 44px;
    }

    .about-inner .about-desr p {
        width: 80%;
        height: 60px;
        font-size: 16px;

    }



    /* .about-services .services-item {
width: 100%;
height: 25%;
display: flex;
position: var(--position-r);
background-color: #2e86de;
} */

    .about-services .services-item .services-title,
    .about-services .services-item .services-title-1,
    .about-services .services-item .services-title-2,
    .about-services .services-item .services-title-3 {
        font-size: 32px;
        width: 45%;

    }

    .services-title h4::before,
    .services-title-1 h4::before,
    .services-title-2 h4::before,
    .services-title-3 h4::before {
        top: 36%;
    }

    .about-services .services-item .services-desr {
        width: 55%;
        font-size: 15px;
        width: calc(35% - 11px);
        text-align: left;
        word-spacing: 10px;
        letter-spacing: 1px;
    }


    .about-services .services-item .services-btn {
        font-size: 16px;
        width: 20%;
        justify-content: end;
        align-items: center;
        display: none;
    }









    .about-skills {
        width: 100%;
        height: 400px;

    }

    .about-skills .skills-heading {
        width: 80%;
        height: 150px;

    }

    .skills-heading h2 {
        width: 40%;
        height: 50px;
        font-size: 44px;

    }

    .skills-heading p {
        width: 100%;
        height: 100px;
        font-size: 16px;
    }

    .about-skills .skills-gallery {
        height: 200px;

    }

    .skills-gallery .skills-picture {
        height: 70%;
        justify-content: space-around;
    }





    /* =-=-=-=-=-=-=-=-==-=-=-=desr-=about-end==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=desr-contact=-=-start=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    .contact {
        width: 75vw;
        height: 1600px;
        display: flex;
        align-items: end;
    }

    .contact-inner {
        width: 100%;
        height: 90%;
    }

    .contact-inner .contact-heading {
        width: 100%;
        height: 150px;
        position: relative;
    }

    .contact-heading h2 {


        font-size: 8.2em;

    }

    .contact-heading span {
        width: 50%;
        height: 50%;

        font-size: 4.2em;
    }




    .contact-form {
        width: 100%;
        height: 600px;
        display: flex;
        align-items: end;
    }

    .form {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .form .form-inner {
        width: 80%;
        height: 100%;
        background-color: #8750f7;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
    }

    .form-inner .form-heading {
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-heading h2 {
        width: 100%;
        height: 50%;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #050709;
    }

    .form-heading p {
        width: 100%;
        height: 50%;
        font-size: 15px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #DDDDDD;
    }

    .form-inner .form-name {
        width: 95%;
        height: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
    }

    input {
        width: 49%;
        height: 43%;
        border-radius: 10px;
        border: none;
        background-color: #050709;
    }

    .form-inner #tax {
        width: 95%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    .form-inner textarea {
        border-radius: 10px;
        border: none;
        background-color: #050709;


    }

    .form-inner .form-btn {
        width: 95%;
        height: 50px;

    }

    .form-desr .desr-svg {
        width: 100%;
        height: 30%;
    }

    .form-desr .desr-svg .desr-svg-img {
        width: 40px;
        height: 40px;

    }

    .form-desr .desr-svg i {
        font-size: 20px;

    }

    .svg-title {
        width: 70%;
        height: 100%;
    }

    .form-btn h6 {
        font-size: 20px;
    }






    .svg-title button {
        font-size: 16px;
    }

    /* =-=-=-=-=-=-=-=-==-=-=-=-=contact
 end==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
}

@media only screen and (max-width: 992px) {
    * {
        margin: 0;
        padding: 0;

    }

    a {
        text-decoration: none;
    }

    ul li {
        list-style-type: none;
    }

    .container {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    /* =-=-=-=-=-=-=-=-=-=-=-===-=-=====-=-==-==-=-=--=-=-=-=-=---=-avtar-works-starts=-=-=--=-=-=-=-=-==-=-=-=-===-=-=-=-=-===-=-=== */
    .avtar {
        width: 100vw;
        height: 100%;
    }

    .avtar-inner {
        width: 95%;
        height: 98%;

    }

    .avtar-inner .avtar-title {
        width: 96%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
    }

    .avtar-title .title-svg {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    .avtar-title .title-svg img {
        width: 70px;
        height: 70px;
    }

    .avtar-title .title {
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        font-size: 20px;
    }

    .avtar-inner .avtar-img {
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avtar-inner .avtar-img img {
        width: 80%;
        height: 90%;
        border-radius: 50%;
    }

    .avtar-inner .avtar-special {
        width: calc(100% - 20px);
        height: 12vh;
        margin-top: 10px;
        padding-left: 20px;
        font-size: 18px;

    }

    .avtar-inner .avtar-special h6 {
        width: 80%;
        height: 100%;
        font-size: 22px;

    }





    .avtar-inner .avtar-city {
        width: 100% calc(100% - 20px);
        height: 12vh;
        display: flex;

        padding-left: 20px;
        font-size: 18px;
    }

    .avtar-inner .avtar-city h6 {
        width: 80%;
        height: 100%;
        font-size: 22px;

    }




    .avtar-inner .avtar-social {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 1px solid red; */
    }

    .avtar-inner .avtar-social .social-links {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;


    }

    .avtar-inner .avtar-social .social-links li {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
    }

    /* .avtar-inner .avtar-social .social-links li:nth-child(1) {
        display: flex;
        justify-content: flex-start;
    } */

    /* .avtar-inner .avtar-social .social-links li:nth-child(2) {
        padding-right: 50px !important;
    } */

    /* .avtar-inner .avtar-social .social-links li:nth-child(4) {
        padding-left: 50px !important;
    } */

    /* .avtar-inner .avtar-social .social-links li:nth-child(5) {
        display: flex;
        justify-content: flex-end;
    } */

    .avtar-inner .avtar-social .social-links li a {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;

    }



    .avtar-btn .btn-caption {
        width: calc(70% - 3px);
        border-radius: 30px;
        letter-spacing: 3px;
        font-size: 18px;
    }





    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .container .avtar-menu-respons {
        width: 100%;
        height: 100px;
        z-index: 250;
        position: fixed;
        top: 90%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avtar-menu-respons .menu-respons-item {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        /* background: linear-gradient(to right, #ffffff 0%,
        #ffff66 100%); */
        background: linear-gradient(to right, #8850f7cb 0%, #020324e2 100%);
    }

    .avtar-menu-respons .menu-respons-item li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avtar-menu-respons .menu-respons-item li i {
        color: #DDDDDD;

    }





    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

    }


    .avtar-desr .avtar-desr-inner {
        width: 95%;
        height: 100%;

        overflow-y: none;


    }


    .avtar-desr .avtar-desr-inner .desr-navbar {
        display: none;

    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-home=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .avtar-desr-inner .avtar-desr-home-intro {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: end;
    }

    .avtar-desr-inner .avtar-desr-home-intro .home-intro-inner {
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .avtar-desr-home-intro .home-intro-inner .home-intro-svg-title {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #8750f7;
        border-radius: 15px;
    }

    .home-intro-inner .home-intro-svg-title img {
        width: 15px;
        height: 15px;
    }

    .home-intro-inner .home-intro-heading {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .home-intro-inner .home-intro-heading h1 {
        width: 70%;
        height: 150px;
        display: flex;
        align-items: center;
        font-size: 32px;
    }

    .home-intro-inner .home-intro-btn {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;

    }

    .home-intro-inner .home-intro-btn h4 {
        border: 1px solid #8750f7;
        width: 180px;
        height: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .home-intro-inner .home-intro-btn .animate {
        width: 200px;
        height: 200px;
        position: absolute;
        top: -100%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-porfolio=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr-inner .avtar-desr-portfolio {
        width: 100%;
        height: 1200px;
    }

    .avtar-desr-inner .avtar-desr-portfolio .portfolio-inner {
        width: 100%;
        height: 1000px;
    }




    .portfolio-inner .portfolio-title {
        width: 100%;
        height: 100px;
    }

    .portfolio-title h2 {


        font-size: 6.2em;

    }

    .portfolio-title span {
        width: 50%;
        height: 50%;

        font-size: 3.2em;

    }

    .portfolio-inner .portfolio-heading {
        width: 100%;
        height: 100px;
        font-size: 22px;
        align-items: center;
    }

    .portfolio-inner .portfolio-gallery {
        height: 800px;

        align-items: start;
    }

    .portfolio-inner .portfolio-gallery .portfolio-gallery-inner {
        width: 90%;
        height: 100%;

    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-porfolio-end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-about=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */



    .about {
        width: 100%;
        height: 1800px;

    }

    .about-inner {
        width: 100%;
        height: 90%;
    }

    .about-inner .about-heading {
        width: 100%;
        height: 100px;

    }

    .about-heading h2 {


        font-size: 6.2em;

    }

    .about-heading span {
        width: 50%;
        height: 50%;

        font-size: 3.2em;

    }


    .about-inner .about-desr {
        width: 100%;
        height: 150px;
    }

    .about-inner .about-desr h3 {
        font-size: 44px;
    }

    .about-inner .about-desr p {
        width: 100%;
        font-size: 16px;

    }





    .about-services .services-item .services-title,
    .about-services .services-item .services-title-1,
    .about-services .services-item .services-title-2,
    .about-services .services-item .services-title-3 {
        font-size: 32px;
        width: 45%;

    }

    .services-title h4::before,
    .services-title-1 h4::before,
    .services-title-2 h4::before,
    .services-title-3 h4::before {
        top: 36%;
    }

    .about-services .services-item .services-desr {
        font-size: 18px;
        width: calc(45% - 11px);
        text-align: left;
        word-spacing: 10px;
        letter-spacing: 1px;
    }


    .about-services .services-item .services-btn {
        font-size: 16px;
        width: 10%;
        justify-content: end;
        align-items: center;
    }


    .timeline {
        width: 100%;
        height: 600px;
    }


    .timeline-inner {
        justify-content: space-around;

    }

    .timeline-inner::before {
        height: 80px;
    }






    .timeline-inner::after {
        left: -6%
    }




    .timeline-desr {
        width: 50%;
        justify-content: space-around;
    }

    .timeline-desr h4 {
        font-size: 18px;

    }

    .timeline-desr p:nth-child(3) {
        font-size: 12px;
        color: #DDDDDD;

    }

    .timeline-desr p:nth-child(2) {
        font-size: 15px;
        color: #DDDDDD;



    }

    .timeline-left .heading,
    .timeline-right .heading {
        width: 80%;
        height: 10%;
        color: white;
        font-size: 24px;
        display: flex;
        align-items: center;
        border-radius: 20px;
    }


    .heading h2 {
        font-size: 60px;
    }



    .about-skills {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-skills .skills-heading {
        width: 60%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .skills-heading h2 {
        width: 40%;
        height: 80px;
        font-size: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .skills-heading p {
        width: 100%;
        height: 60px;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #DDDDDD;
    }

    .about-skills .skills-gallery {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */

    }

    .skills-gallery .skills-picture {
        width: 19%;
        height: 90%;
        border: 1px dashed black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .skills-picture img {
        width: 50%;
        height: 70%;
        filter: grayscale(100%);
    }

    .skills-picture img:hover {
        filter: grayscale(0%);

    }

    .skills-picture p {
        font-size: 16px;
        text-transform: uppercase;
        color: #DDDDDD;
    }




    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-about-end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-contact=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */




    .contact {
        width: 100%;
        height: 800px;

    }

    .contact-inner {
        width: 100%;
        height: 90%;
    }

    .contact-inner .contact-heading {
        width: 100%;
        height: 100px;

    }

    .contact-heading h2 {


        font-size: 6.2em;

    }

    .contact-heading span {
        width: 50%;
        height: 50%;

        font-size: 3.2em;

    }




    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr=contact=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
}

@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;

    }

    a {
        text-decoration: none;
    }

    ul li {
        list-style-type: none;
    }

    .container {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    /* =-=-=-=-=-=-=-=-=-=-=-===-=-=====-=-==-==-=-=--=-=-=-=-=---=-avtar-works-starts=-=-=--=-=-=-=-=-==-=-=-=-===-=-=-=-=-===-=-=== */
    .avtar {
        width: 100vw;
        height: 100%;
        background-color: none;
    }

    .avtar-inner {
        width: 90%;
        height: 98%;

    }

    .avtar-inner .avtar-title {
        width: 94%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
    }

    .avtar-title .title-svg {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    .avtar-title .title-svg img {
        width: 70px;
        height: 70px;
    }

    .avtar-title .title {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        font-size: 16px;
    }

    .avtar-inner .avtar-img {
        width: 96%;
        height: 600px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .avtar-inner .avtar-img img {
        width: 80%;
        height: 80%;
        /* border-radius: 50%; */
    }

    .avtar-inner .avtar-special {
        width: calc(100% - 20px);
        height: 12vh;
        margin-top: 10px;
        padding-left: 20px;
        font-size: 16px;

    }

    .avtar-inner .avtar-special h6 {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }





    .avtar-inner .avtar-city {
        width: 100% calc(100% - 20px);
        height: 12vh;
        display: flex;

        padding-left: 20px;
        font-size: 16px;
    }

    .avtar-inner .avtar-city h6 {
        width: 80%;
        height: 100%;
        font-size: 20px;

    }




    .avtar-inner .avtar-social {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .avtar-inner .avtar-social .social-links {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;

    }

    .avtar-inner .avtar-social .social-links li {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
    }

    /* .avtar-inner .avtar-social .social-links li:nth-child(1) {
        display: flex;
        justify-content: flex-start;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(2) {
        padding-right: 50px !important;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(4) {
        padding-left: 50px !important;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(5) {
        display: flex;
        justify-content: flex-end;
    } */

    .avtar-inner .avtar-social .social-links li a {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;

    }



    .avtar-btn .btn-caption {
        width: calc(60% - 3px);
        border-radius: 30px;
        letter-spacing: 3px;
        font-size: 16px;
    }





    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .container .avtar-menu-respons {
        width: 100%;
        height: 100px;
        z-index: 250;
        position: fixed;
        top: 90%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avtar-menu-respons .menu-respons-item {
        width: 40%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: transparent;

    }

    .avtar-menu-respons .menu-respons-item li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }







    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

    }


    .avtar-desr .avtar-desr-inner {
        width: 90%;
        height: 100%;

        overflow-y: none;


    }


    .avtar-desr .avtar-desr-inner .desr-navbar {
        display: none;

    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-home=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .avtar-desr-inner .avtar-desr-home-intro {
        width: 100%;
        height: 500px;

        display: flex;
        align-items: end;
    }

    .avtar-desr-inner .avtar-desr-home-intro .home-intro-inner {
        width: 100%;
        height: 320px;


        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .avtar-desr-home-intro .home-intro-inner .home-intro-svg-title {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        border-radius: 15px;
    }

    .home-intro-inner .home-intro-svg-title img {
        width: 15px;
        height: 15px;
    }

    .home-intro-inner .home-intro-heading {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }

    .home-intro-inner .home-intro-heading h1 {
        width: 70%;
        height: 200px;
        display: flex;
        align-items: center;
        font-size: 22px;
    }

    .home-intro-inner .home-intro-btn {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;

    }

    .home-intro-inner .home-intro-btn h4 {
        width: 180px;
        height: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .home-intro-inner .home-intro-btn .animate {
        display: none;
    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-portfolio=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr-inner .avtar-desr-portfolio {
        width: 100%;
        height: 2050px;
    }

    .avtar-desr-inner .avtar-desr-portfolio .portfolio-inner {
        width: 100%;
        height: 1900px;
    }

    .portfolio-inner .portfolio-title {
        width: 100%;
        height: 90px;
    }

    .portfolio-title h2 {
        font-size: 5.2em;
    }

    .portfolio-title span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;
    }

    .portfolio-inner .portfolio-heading {
        width: 100%;
        height: 100px;
        font-size: 18px;
        align-items: center;
    }




    .portfolio-inner .portfolio-gallery {
        height: 1700px;
        align-items: start;
    }

    .portfolio-inner .portfolio-gallery .portfolio-gallery-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
        flex-wrap: nowrap;

    }

    .portfolio-gallery-inner .gallery-picture {
        width: 65%;
        height: 24%;
        border-radius: 30px;

    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-ab out=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


    .about {
        width: 100%;
        height: 2500px;


    }

    .about-inner {
        width: 100%;
        height: 90%;
    }

    .about-inner .about-heading {
        width: 100%;
        height: 90px;
    }

    .about-heading h2 {
        font-size: 5.2em;
    }

    .about-heading span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;

    }

    .about-inner .about-desr {
        width: 100%;
        height: 100px;
    }

    .about-inner .about-desr h3 {
        width: 80%;
        font-size: 28px;
    }

    .about-inner .about-desr p {
        width: 100%;
        font-size: 15px;

    }




    .about-services .services-item {
        height: 25%;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
    }

    .about-services .services-item .services-title,
    .about-services .services-item .services-title-1,
    .about-services .services-item .services-title-2,
    .about-services .services-item .services-title-3 {
        font-size: 32px;
        width: 88%;
        height: 50%;
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .services-title h4::before,
    .services-title-1 h4::before,
    .services-title-2 h4::before,
    .services-title-3 h4::before {
        left: 2%;
        top: 8%;
    }

    .about-services .services-item .services-desr {
        font-size: 15px;
        width: calc(100% - 11px);
        text-align: left;
        word-spacing: 10px;
        letter-spacing: 1px;
        height: 50%;
    }


    .about-services .services-item .services-btn {
        font-size: 16px;
        width: 10%;
        justify-content: end;
        align-items: center;
        display: none;
    }



    .timeline {
        width: 100%;
        height: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .timeline-left {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .timeline-right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .timeline-inner {
        width: 38%;
        height: 15%;
        display: flex;
        position: relative;
    }

    .timeline-inner::before {
        content: "";
        width: 3px;
        height: 65px;
        position: absolute;
        top: 18%;
        left: -2%;
    }






    .timeline-inner::after {
        content: "";
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: -6%
    }

    .timeline-svg {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .timeline-svg img {
        width: 40px;
        height: 40px;
        mix-blend-mode: color-burn;
    }

    .timeline-desr {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .timeline-desr h4 {
        font-size: 16px;

    }

    .timeline-desr p:nth-child(3) {
        font-size: 12px;
        color: #dddddd;

    }

    .timeline-desr p:nth-child(2) {
        font-size: 14px;
        color: #dddddd;


    }

    .timeline-left .heading,
    .timeline-right .heading {
        width: 80%;
        height: 10%;
        background-color: #1a0c35;
        color: white;
        font-size: 24px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        justify-content: space-evenly;
    }


    .heading h2 {
        font-size: 64px;
    }


    .about-skills {
        width: 100%;
        height: 350px;
    }

    .about-skills .skills-heading {
        width: 60%;
        height: 150px;
    }

    .skills-heading h2 {
        width: 60%;
        height: 60px;
        font-size: 44px;
    }

    .skills-heading p {
        width: 100%;
        height: 60px;
        font-size: 16px;
    }

    .about-skills .skills-gallery {
        width: 100%;
        height: 200px;

    }

    .skills-gallery .skills-picture {
        width: 19%;
        height: 70%;
    }








    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr=about-end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-contact=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */



    .contact {
        width: 100%;
        height: 1655px;


    }

    .contact-inner {
        width: 100%;
        height: 90%;
    }

    .contact-inner .contact-heading {
        width: 100%;
        height: 90px;
    }

    .contact-heading h2 {
        font-size: 5.2em;
    }

    .contact-heading span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;

    }










    .contact-form {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
    }

    .form {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form .form-inner {
        width: 80%;
        height: 90%;
        background-color: #8750f7;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
    }

    .form-heading h2 {
        width: 100%;
        height: 50%;
        font-size: 32px;

    }






    .form-btn button {
        width: 40%;
        font-size: 24px;
    }

    /* 



*/
    .form-desr {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .form-desr .form-desr-inner {
        width: 75%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .form-desr .desr-svg {
        display: flex;
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        border-radius: 10px;

    }

    .form-desr .desr-svg .desr-svg-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .form-desr .desr-svg i {
        font-size: 24px;

    }

    .svg-title {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-transform: capitalize;
    }

    .svg-title h6 {
        font-size: 16px;
    }


    .map {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map iframe {
        width: 85%;
        height: 80%;

    }



    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-contact=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

}

@media only screen and (max-width: 572px) {
    * {
        margin: 0%;
        padding: 0%;

    }

    a {
        text-decoration: none;
    }

    ul li {
        list-style-type: none;
    }

    .container {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    /* =-=-=-=-=-=-=-=-=-=-=-===-=-=====-=-==-==-=-=--=-=-=-=-=---=-avtar-works-starts=-=-=--=-=-=-=-=-==-=-=-=-===-=-=-=-=-===-=-=== */



    .avtar {
        width: 100vw;
        height: 100%;
        /* background-color: none; */

    }

    .avtar-inner {
        width: 90%;
        height: 98%;

    }

    .avtar-inner .avtar-title {
        width: 94%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
    }

    .avtar-title .title-svg {
        width: 40%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    .avtar-title .title-svg img {
        width: 70px;
        height: 70px;
    }

    .avtar-title .title {
        width: calc(50% - 1px);
        height: 100%;
        justify-content: flex-start;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .avtar-inner .avtar-img {
        width: 94%;
        height: 600px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .avtar-inner .avtar-img img {
        width: 85%;
        height: 70%;
        border-radius: 50%;
    }

    .avtar-inner .avtar-special {
        width: calc(100% - 20px);
        height: 12vh;
        margin-top: 10px;
        padding-left: 20px;
        font-size: 16px;

    }

    .avtar-inner .avtar-special h6 {
        width: calc(80% - 11px);
        height: 100%;
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 10px;
    }





    .avtar-inner .avtar-city {
        width: 100% calc(100% - 20px);
        height: 12vh;
        display: flex;

        padding-left: 20px;
        font-size: 16px;
    }

    .avtar-inner .avtar-city h6 {
        width: calc(80% - 11px);
        height: 100%;
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 10px;
    }




    .avtar-inner .avtar-social {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .avtar-inner .avtar-social .social-links {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;

    }

    .avtar-inner .avtar-social .social-links li {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
    }

    /* .avtar-inner .avtar-social .social-links li:nth-child(1) {
        display: flex;
        justify-content: flex-start;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(2) {
        padding-right: 30px !important;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(4) {
        padding-left: 30px !important;
    }

    .avtar-inner .avtar-social .social-links li:nth-child(5) {
        display: flex;
        justify-content: flex-end;
    } */

    .avtar-inner .avtar-social .social-links li a {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;

    }



    .avtar-btn .btn-caption {
        width: 70%;
        border-radius: 30px;
        /* letter-spacing: 3px; */
        font-size: 15px;
    }





    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .container .avtar-menu-respons {
        width: 100%;
        height: 100px;
        z-index: 10;
        position: fixed;
        top: 90%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avtar-menu-respons .menu-respons-item {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: transparent;

    }

    .avtar-menu-respons .menu-respons-item li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }







    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-menu-respons works=end=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */


    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-works=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
    .avtar-desr {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

    }


    .avtar-desr .avtar-desr-inner {
        width: 90%;
        height: 100%;

        overflow-y: none;


    }


    .avtar-desr .avtar-desr-inner .desr-navbar {
        display: none;

    }

    /* =-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=avtar-desr-home=start=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

    .avtar-desr-inner .avtar-desr-home-intro {
        width: 100%;
        height: 500px;

        display: flex;
        align-items: end;
    }

    .avtar-desr-inner .avtar-desr-home-intro .home-intro-inner {
        width: 100%;
        height: 320px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .avtar-desr-home-intro .home-intro-inner .home-intro-svg-title {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 1px;

        border-radius: 15px;
    }
    .avtar-desr-home-intro .home-intro-inner .home-intro-svg-title h5{
        font-size: 12px;
    }


    .home-intro-inner .home-intro-svg-title img {
        width: 15px;
        height: 15px;
    }

    .home-intro-inner .home-intro-heading {
        width: calc(100% - 1px);
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        /* word-spacing: 5px; */
        letter-spacing: 1px;
    }

    .home-intro-inner .home-intro-heading h1 {
        width: 70%;
        height: 100%;

        font-size: 20px;

    }


    .home-intro-inner .home-intro-btn {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .home-intro-inner .home-intro-btn h4 {
        width: 60%;
        height: 25%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        letter-spacing: 2px;

    }

    /* =-=--=-=-=-=-=-=-=-=-=desr-home=-=-end=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    /* =-=--=-=-=-=-=-=-=-=-=desr-portfolio=-start=-=-=--=-=-=-=-=-=-=-------------------------==================================== */


    .avtar-desr-inner .avtar-desr-portfolio {
        width: 100%;
        height: 2070px;
        align-items: center;
    }

    .avtar-desr-inner .avtar-desr-portfolio .portfolio-inner {
        width: 100%;
        height: 1920px;

    }

    .portfolio-inner .portfolio-title {
        width: 100%;
        height: 60px;
    }

    .portfolio-title h2 {
        font-size: 3.1em;
        color: #8750f7;
    }

    .portfolio-title span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;
        display: none;

    }

    .portfolio-inner .portfolio-heading {
        width: 100%;
        height: 70px;
        font-size: 15px;

    }

    .portfolio-inner .portfolio-gallery {
        height: 1790px;
        align-items: start;
    }

    .portfolio-inner .portfolio-gallery .portfolio-gallery-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
        flex-wrap: nowrap;

    }

    .portfolio-gallery-inner .gallery-picture {
        width: 85%;
        height: 24%;
        border-radius: 30px;

    }


    /* =-=--=-=-=-=-=-=-=-=-=desr-portfolio=-=-end=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    /* =-=--=-=-=-=-=-=-=-=-=desr-about=-=-end=-=-=--=-=-=-=-=-=-=-------------------------==================================== */
    .about {
        width: 100%;
        height: 2400px;
        align-items: center;
    }

    .about-inner {
        width: 100%;
        height: 95%;

    }





    .about-inner .about-heading {
        width: 100%;
        height: 60px;
    }

    .about-heading h2 {
        font-size: 3.1em;
        color: #8750f7;

    }

    .about-heading span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;
        display: none;

    }


    .about-inner .about-desr {
        width: 100%;
        height: 100px;

    }

    .about-inner .about-desr h3 {
        width: 80%;
        font-size: 28px;

    }

    .about-inner .about-desr p {
        width: 100%;
        font-size: 15px;

    }

    .about-inner .about-services {
        height: 400px;
    }


    .about-services .services-item {
        height: 25%;
    }

    .about-services .services-item .services-title {
        font-size: 26px;

        width: 88%;
        height: 50%;
    }

    .services-title h4::before {
        left: 2%;
        top: 10%;
    }

    .about-services .services-item .services-desr {
        font-size: 14px;
        width: calc(100% - 9px);
        text-align: left;
        word-spacing: 8px;
        letter-spacing: 1px;
        height: 54%;
    }


    .about-services .services-item .services-btn {
        font-size: 16px;
        width: 10%;
        justify-content: end;
        align-items: center;
        display: none;
    }

    .about-services .services-item .services-title-1 {
        font-size: 26px;

        width: 88%;
        height: 50%;
    }

    .services-title-1 h4::before {
        left: 2%;
        top: 10%;


    }

    .about-services .services-item .services-title-2 {
        font-size: 26px;

        width: 88%;
        height: 50%;

    }

    .services-title-2 h4::before {
        left: 2%;
        top: 10%;


    }

    .about-services .services-item .services-title-3 {
        font-size: 26px;
        width: 88%;
        height: 50%;

    }

    .services-title-3 h4::before {
        left: 2%;
        top: 10%;

    }

    .timeline-inner {
        width: 48%;
        height: 15%;
        display: flex;
        position: relative;
    }

    .skills-heading h2 {
        width: 50%;
        height: 80px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
          /* font-family: "Sora", sans-serif; */
        font-family: "Russo One", sans-serif;
        text-transform: capitalize;
      
      }




    /* =-=-=-=-=-=-=-=-=-=-=-=-=desr-=-about==-end =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-==-=-==-=-=-=-=-=-=-=-=-=-=-= */
    /* =-=-=-=-=-=-=-=-=-=-=-=-=-desr=-contact start =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-==-=-==-=-=-=-=-=-=-=-=-=-=-= */
    .contact {
        width: 100%;
        height: 1655px;
        align-items: start;
    }

    .contact-inner {
        width: 100%;
        height: 90%;

    }

    .contact-inner .contact-heading {
        width: 100%;
        height: 60px;
    }

    .contact-heading h2 {
        font-size: 3.1em;
        color: #8750f7;

    }

    .contact-heading span {
        width: 50%;
        height: 50%;
        font-size: 3.1em;
        display: none;

    }


    .contact-form {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
    }

    .form {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form .form-inner {
        width: 80%;
        height: 90%;
        background-color: #8750f7;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
    }

    .form-heading h2 {
        width: 100%;
        height: 50%;
        font-size: 24px;

    }






    .form-btn button {
        width: 40%;
        font-size: 20px;
    }

    /* 



*/
    .form-desr {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .form-desr .form-desr-inner {
        width: 75%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .form-desr .desr-svg {
        display: flex;
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        border-radius: 10px;

    }

    .form-desr .desr-svg .desr-svg-img {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: black; */
        border-radius: 50%;
    }

    .form-desr .desr-svg i {
        font-size: 18px;

    }

    .svg-title {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-transform: capitalize;
    }

    .svg-title h6 {
        font-size: 15px;
    }


    .map {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map iframe {
        width: 85%;
        height: 80%;

    }

    /* =-=-=-=-=-=-=-=-=-=-=-=-=-desr-contact end =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-==-=-==-=-=-=-=-=-=-=-=-=-=-= */
}